/* LoginForm.css */
.login-form-container {
    margin: auto;
    margin-top: 4rem;
    max-width: 500px;
    background: rgb(191, 229, 232);
    padding: 2rem;
    border: 2px solid #0cdcef;
    box-shadow: 0 4px 6px rgb(16, 15, 15);
    border-radius: 0.5rem;
  }
  
  .login-form-container h2 {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .login-form-container label {
    display: block;
    font-weight: bold;
  }
  
  .login-form-container .error-text {
    margin-top: 0.25rem;
    color: #ff4d6d;
    font-size: 0.875rem;
    display: none;
  }
  
  .login-form-container .error-text.block {
    display: block;
  }
  
  .login-form-container button {
    background: #6200ff;
    color: white;
    padding: 0.5rem 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .login-form-container button:hover {
    background: #2681e2;
  }
  
  .login-form-container .signup-link {
    padding-top: 1rem;
  }
  
  .login-form-container .signup-link a {
    color: #3498db;
  }
  